<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="../css/commom.css">
  <title>移动端HTML模版</title>
</head>

<body>
  <h1>模版页面</h1>
  <script src="../js/commom/commom.js" charset="utf-8"></script>
  <script type="text/javascript" src="./template.js">
  </script>
</body>

</html>
