<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
  <meta name="format-detection" content="telephone=no">
  <!-- 公共样式 -->
  <link rel="stylesheet" href="../../css/commom.css">
  <!-- 页面适配js -->
  <script src="../../assets/rem//flexible.js"></script>
  <title>移动端HTML模版</title>
</head>

<body>
  <div id="app">
      {{msg}}
  </div>
  <!-- 公共js -->
  <script src="../../assets/plugin/vue/vue.min.js"></script>
  <script src="../../assets/plugin/jquery/jquery-3.3.1.min.js"></script>
  
  <script type="text/javascript" src="./template.js"></script>
 
</body>

</html>
